#main {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-gap: 20px;
  margin: auto;
}

#main nav {
  width: 90%;
}

#main nav ul {
  list-style: none;
  margin: auto;
  padding: 0px;
  width: 200px;
}
#main nav li {
  display: block;
  padding: 5px;
  text-align: center;
  background-color: brown;
  border: 1px solid black;
  margin: 2px;
}
#main nav a {
  text-decoration: none;
  color:white;
}

#main #content {
  width:90%;
}

#content #logo img {
  width: 80%;
  margin: auto;
}

#main ul {
  list-style: none;
  padding: 0px;
}